*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
header{
    height:80px;
    border-bottom: 1px solid rgb(92, 87, 87);

}
.container{
    height: 100%;
    width:1320px;
    padding-left: 16px;
    padding-right: 16PX;
    margin-left: auto;
    margin-right: auto;
   
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
#logo,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lora", serif;
    font-weight: 600;
}
p
{
    color: grey;
    line-height:170% ;
}

h1{
    font-size: 40px;
    margin-bottom: 24px;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap:24px;
    list-style: none;
}
.NavLink{
    text-decoration: none;
    color: rgb(76, 74, 74);
 

}
#logo{
    color: black;
    font-size: 26.984px;
}
#section1Img{
    width:50%;
    border-radius: 8px;
}
#section1 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64px;


}
section{
    padding-top: 64px;
    padding-bottom: 64px;
}
.button{
    display:inline-block;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration:none;
    border-radius:4px;
}
.primaryButton
{
    
    background-color: black;
    color: white;
   
}
.secondaryButton{
     color: rgb(5, 5, 5);
     border:1px solid black;
}
.buttonHolder
{
    margin-top:32px;
}
#section2
{
background-color:#e6e9ed;
}
.acheivement
{
   padding: 24px;
   background-color: white;
   border:1px solid black;
   border-radius: 4px;

}
#acheivementList
{
   list-style: none;
   margin-top: 32px;
   display: flex;
   flex-direction: row;
   gap:16px;

}